.dark_blue {
    background-color: #1e40af; /* Tailwind bg-blue-800 */
    color: white;
}

.light_blue {
    background-color: #60a5fa; /* Tailwind bg-blue-400 */
    color: white;
}

.default_grey {
    background-color: #9ca3af; /* Tailwind bg-gray-400 */
    color: white;
}

.dark_red {
    background-color: #991b1b; /* Tailwind bg-red-800 */
    color: white;
}

.light_red {
    background-color: #fca5a5; /* Tailwind bg-red-300 */
    color: white;
}

.dark_green {

}

.position-right {
    right: 1em;
}
